<%= form_for(admeafit) do |f| %>
  <% if admeafit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admeafit.errors.count, "error") %> prohibited this admeafit from being saved:</h2>

      <ul>
      <% admeafit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <!--%= @tagUID%-->
  <!--p> Nombre: <%= text_field_tag 'nombre_user', @tagUID %> </p>
  <div class="field">
    <!--%= @tagUID %-->
    <%= f.text_field :code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!--%= link_to 'inicia', tag%-->

  <p>By222: <%= @tutor %> </p>
  <p> Hola :   <%= @bj %> </p>
  <p>By: <%= @tutor %> </p>
