<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admeafit.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @admeafit.code %>
</p>

<%= link_to 'Edit', edit_admeafit_path(@admeafit) %> |
<%= link_to 'Back', admeafits_path %>
